.card{
  width: 327px;
  height: auto;
  margin-top: 16px;
  padding: 33px 24px 48px 24px;
  border-radius: 15px;
  background-color: var(--componentsColor);
  box-shadow: var(--boxShadow-searchBar);
  @include media-min("tablet") {
    width: 573px;
    padding: 40px;
  }
  @include media-min("desktop") {
    width: 730px;
  }

  .card-header{
    display: flex;
  
    img{
      width: 70px;
      height: 70px;
      margin-right: 19.5px;
      background-color: var(--backgroundColor);
      border-radius: 50%;
      @include media-min("tablet") {
        margin-right: 40px;
        width: 117px;
        height: 117px;
      }
      @include media-min("desktop") {
        width: 117px;
        height: 117px;
      }
    }
  
    .card-user{
      h5{
        margin-top: 6px;
      } 
      @include media-min("tablet"){
        h3{
          margin-top: 2px;
          margin-bottom: 4px;
        }
        h5{
          margin-top: 0;
        }
      }
    }
  }

  .card-body{
    .bio{
      margin-top: 33px;
      min-height: 50px;
      max-height: 100px;
      overflow-wrap: break-word;
      overflow: auto;
      @include media-min("tablet"){
        margin-top: 24px;
      }
    }

    .no-bio{
      color: #99ABC6;
    }

    ::-webkit-scrollbar {
      width: 5px;
    }
    ::-webkit-scrollbar-track {
      background: var(--componentsColor); 
    }
    ::-webkit-scrollbar-thumb {
      background: var(--backgroundColor); 
    }
    ::-webkit-scrollbar-thumb:hover {
      background: var(--switchHover)
    }

    .card-stats{
      background-color: var(--backgroundColor);
      border-radius: 10px;
      display: flex;
      justify-content: space-around;
      padding: 18px 14px;
      margin: 23px 0;
      @include media-min("tablet"){
        margin: 32px 0;
      }
    }

    .user-stat{
      display: flex;
      flex-direction: column;
      align-items: center;
      h4{
        margin-bottom: 10px;
      }
      @include media-min("tablet"){
        align-items: flex-start;
        h4{
          margin-bottom: 0;
        }
        
      }
    }
  }

  .card-footer{
    @include media-min("tablet"){
      display: flex;
      .user-infos-bloc{
        display: flex;
        flex-direction: column;
        margin-right: 65px;
      }
    }

    .user-infos{
      display: flex;
      margin-bottom: 16px;

      svg{
        margin-right: 13px;
      }
  
      h5{
        color: var(--textColor-2);
      }
      .h5-city{
        margin-left: 6px;
      }
      @include media-min("tablet"){
        margin-bottom: 20px;
      }
    }

    .not-available{
      h5{
        color: #A5B4CC; 
      }
    }
  }
}


