.search-bar{
  width: 327px;
  height: 60px;
  border-radius: 15px;
  background-color: var(--componentsColor);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: var(--boxShadow-searchBar);

  .input-search{
    width: 184px;
    height: 25px;
    border: none;
    font-weight: $font-reg;
    font-size: 13px;
    line-height: 25px;
    color: var(--textColor-2);
    background-color: var(--componentsColor);
    &::placeholder{
      color: var(--textColor-2);
      border: none;
      }
    &:focus{
      outline:none!important;
    }
  }

  .not-found{
    position: absolute;
    margin-top: 3px;
    margin-left: 50px;
    font-size: 11px;
    font-weight: $font-bold;
    color: #F74646;
  }

  &:hover{
    cursor: pointer;
    .input-search{
      cursor: pointer;
    }
  }

  .button-search{
    width: 84px;
    height: 46px;
    border: none;
    border-radius: 10px;
    background-color: var(--buttonColor);
    &:hover{
      background-color: var(--buttonColor-hover);
      cursor: pointer;
    }
    color: var(--buttonTextColor);
    font-weight: $font-bold;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }
}

