.search-bar{
  width: 327px;
  height: 60px;
  padding: 0 7px 0 16px;
  border-radius: 15px;
  background-color: var(--componentsColor);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--boxShadow-searchBar);
  @include media-min("tablet") {
    width: 573px;
  }

  .input-search{
    width: 191px;
    height: 25px;
    padding-left:9px;
    border: none;
    font-weight: $font-reg;
    font-size: 13px;
    line-height: 20px;
    color: var(--textColor-2);
    background-color: var(--componentsColor);
    &::placeholder{
      color: var(--textColor-2);
      border: none;
      }
    &:focus{
      outline:none!important;
    }
    @include media-min("tablet") {
      width: 380px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .input-search-bis{
    width: 100px !important;
    @include media-min("tablet") {
      width: 280px !important;
    }
  }

  .not-found{
    font-size: 11px;
    font-weight: $font-bold;
    color: #F74646;
    @include media-min("tablet") {
      font-size: 15px;
    }
  }

  &:hover{
    cursor: pointer;
    .input-search{
      cursor: pointer;
    }
  }

  .button-search{
    margin-left: 6px;
    width: 84px;
    height: 46px;
    border: none;
    border-radius: 10px;
    background-color: var(--buttonColor);
    color: var(--buttonTextColor);
    font-weight: $font-bold;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    @include media-min("tablet") {
      width: 106px;
      height: 50px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &:hover{
    .button-search{
      background-color: var(--buttonColor-hover);
      cursor: pointer;
    }
  }
}

