:root {
  --backgroundColor: #F6F8FF;
  --componentsColor: #FEFEFE;
  --textColor-1: #2B3442;
  --textColor-2: #4B6A9B;
  --textColor-3: #697C9A;
  --switchHover: #222731;
  --buttonColor: #0079FF;
  --buttonColor-hover: #60ABFF;
  --buttonTextColor: #FFFFFF;
  --boxShadow-searchBar: 0px 20px 20px #e2e5f7;
}
    
[data-theme='dark'] {
    --backgroundColor: #141D2F;
    --componentsColor: #1E2A47;
    --textColor-1: #FFFFFF;
    --textColor-2: #FFFFFF;
    --textColor-3: #FFFFFF;
    --switchHover: #90A4D4;
    --buttonColor: #0079FF;
    --buttonColor-hover: #60ABFF;
    --buttonTextColor: #FFFFFF;
    --boxShadow-searchBar: none;
}